* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    font-family: Helvetica, sans-serif, Arial;
    font-size: 60%;
}

body {
    font-size: 1.6rem;
}

.content{
    display: flex;
    background-color: var(--background-color); 
    height: 100vh;
}


/*SCROLL STYLE*/
*::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*SCROLL STYLE*/