.theme1{

		--background-color: #ac73ff;
        --background-column: #35166e9d;

        --primary-color: #35166e;

        --success-color: #32c563;

        --text-color: #707070;
        --text-color1: #000;
        --text-color2: #fff;
        --light-color: #fff;
        --dark-color: #000;


        --body-color: #e4e9f7;
        --sidebar-color: #fff;
        --primary-color-light: #f6f5ff;
        --toggle-color: #ddd;
       

        --tran-02: all 0.2s ease;
        --tran-03: all 0.3s ease;
        --tran-04: all 0.4s ease;
        --tran-05: all 0.5s ease;
}
