.theme1{

		--background-color: #ac73ff;
        --background-column: #0a10288c;

        --primary-color: #0a1028;

        --success-color: #2CF6B3;
        --danger-color: #F64740;

        --sidebar-color: #F3EBFF;

        --text-color-dark: #100029;
        --text-color-light: #F2EBFF;

        --light-color: #f6f5ff;
        --dark-color: #100e1a;
        --grey-color: #ddd;

        --tran-02: all 0.2s ease;
        --tran-03: all 0.3s ease;
        --tran-04: all 0.4s ease;
        --tran-05: all 0.5s ease;
}
