
.dot-slider{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px auto 40px auto;
}

.dot-slider::before{
    content: '';
    position: absolute;
    height: 2px;
    width: calc(100% * (4/5));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--grey-color);
}

.dot-slider input,
.dot-slider label{
    flex: 1;
    cursor: pointer;
}

.dot-slider label{
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
}

.dot-slider label::before{
    content: attr(data-priority-level);
    position: absolute;
    left: 50%;
    padding-top: 10px;
    transform: translate(-50%, 45px);
    font-size: 14px;
    letter-spacing: .4px;
    font-weight: 400;
    opacity: .55;
    white-space: nowrap;
    transition: all .15s ease-in-out;
}

.dot-slider label::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 2px solid var(--grey-color);
    background: var(--light-color);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.dot-slider label:hover::after{
    transform: translate(-50%, -50%) scale(1.25);
}

.dot-slider input:checked + label::before{
    font-weight:  800;
    opacity: 1;
}


.dot-slider label input:checked + label::after{
    border-width: 4px;
    transform: translate(-50%, -50%) scale(0.75);
    border: 2px solid var(--dark-color);
}

.dot-slider input{
    display: none;
}

.dot-slider input:checked ~ .dot-input-label{
    opacity: 1;
}

.dot-slider .dot-input-label{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: var(--dark-color);
    border-radius: 50%;
    transition: all .15s ease-in-out;
    border: 2px solid var(--light-color);
    opacity: 0;
    z-index: 2;
}

.dot-slider input:checked:nth-child(1) ~.dot-input-label{
    left: calc((100%/12) * 1);
}

.dot-slider input:checked:nth-child(3) ~.dot-input-label{
    left: calc((100%/12) * 3);
}

.dot-slider input:checked:nth-child(5) ~.dot-input-label{
    left: calc((100%/12) * 5);
}

.dot-slider input:checked:nth-child(7) ~.dot-input-label{
    left: calc((100%/12) * 7);
}

.dot-slider input:checked:nth-child(9) ~.dot-input-label{
    left: calc((100%/12) * 9);
}

.dot-slider input:checked:nth-child(11) ~.dot-input-label{
    left: calc((100%/12) * 11);
}



